<mat-sidenav-container>
    <mat-sidenav position="end" mode="over" [(opened)]="menuOpen">
        <mat-nav-list>
            <a mat-list-item routerLink="/races" (click)="closeMenu()">
                <mat-icon matListItemIcon>directions_run</mat-icon>
                Versenyek
            </a>
            <div class="submenu-header">
                <mat-icon>route</mat-icon> UltraBalaton
            </div>
            <a mat-list-item routerLink="/ub/sections" (click)="closeMenu()" class="submenu-item">
                <mat-icon matListItemIcon>linear_scale</mat-icon>
                Szakaszok
            </a>
            <a mat-list-item routerLink="/ub/teams" (click)="closeMenu()" class="submenu-item">
                <mat-icon matListItemIcon>group</mat-icon>
                Csapatok
            </a>
            <a mat-list-item routerLink="/admin/races" (click)="closeMenu()">
                <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
                Verseny adminisztráció
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="logout(); closeMenu()">
                <mat-icon matListItemIcon>logout</mat-icon>
                Kijelentkezés
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-admin-header (menuToggled)="toggleMenu()"></app-admin-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>