<h2 mat-dialog-title>{{ data.type === 'start' ? 'Kezdőpont' : 'Végpont' }} azonosítás</h2>
<mat-dialog-content>
    <table mat-table [dataSource]="getTableData()">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Név</th>
            <td mat-cell *matCellDef="let row" [class.csv-row]="row.isCsv">{{ row.name }}</td>
        </ng-container>
        <ng-container matColumnDef="lat">
            <th mat-header-cell *matHeaderCellDef>Lat</th>
            <td mat-cell *matCellDef="let row">{{ row.lat }}</td>
        </ng-container>
        <ng-container matColumnDef="lng">
            <th mat-header-cell *matHeaderCellDef>Lng</th>
            <td mat-cell *matCellDef="let row">{{ row.lng }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'lat', 'lng']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'lat', 'lng'];" (click)="select(row)"></tr>
    </table>

    <mat-form-field>
        <mat-label>Másik váltópont keresése</mat-label>
        <input matInput [formControl]="wayPointControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWayPoint"
            (optionSelected)="addToTable($event.option.value)">
            @for (wp of filteredWayPoints$ | async; track wp.id) {
            <mat-option [value]="wp">{{ wp.name }}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()">Bezárás</button>
</mat-dialog-actions>